body {
  background-color: #182848;
  background-image: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);

  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4b6cb7,
    #182848
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4b6cb7,
    #182848
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
